@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400&display=swap');

body {
    background-color:#FAFAFA;
    font-family: 'Space Grotesk', sans-serif;
}
#navbar {
    position: fixed;
    top: 0px;
    background-color:#FAFAFA;
    color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#navbar a {
    text-decoration: none; 
}
button{
    border: none;
}
.blue-button {
    background-color: #0F298B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

* {
    overflow: auto;
}
.first {
    float:left;
    width: 50%;
    font-family: 'Space Grotesk', sans-serif;
}
.section{
    margin: 13% 8% 13% 8%;
}
.sec1 {
    margin: 10% 8% 13% 8%;
}
.section-footer{
    margin: 13% 0% 13% 0%;
    width: 100%;
    height: auto;
    background-color: #0F298B;
    color: #FAFAFA;
    display: flex;
    flex-direction: row;
}
.search{
    border-radius: 5px;
    color: #0F298B;
    font-size: larger;
    box-shadow:3px 3px 2px 2px gray;
    margin: 0% 8% 13% 8%;
    padding: 50px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    background-color:#FAFAFA;
    padding: 2em;
}

.search{
    align-items: center;
}

form{
    width: 100%;
    margin-left: 9%;
    /* position: fixed; */
    /* justify-content: space-around; */
}
.label {
    font-weight: 300;
    font-size: smaller;
}
p {
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
}
.two {
    float: left;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two-h {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}
.three {
    float: left;
    width: 50%;
}
.four-main {
    margin: 3% 3% 3% 3%;
}
.four {
    border-radius: 1%;
    color: #000;
    margin: 1% 0% 1% 0%;
    box-shadow: 2% 2% 2% 2% gray;
    background-color:white;
    float: left;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-content: space-between;
    align-items: center;
}
.four1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.four2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.four h4{
    font-size: small;
}
.h5blue {
    color: #0F298B;
}
.-h {
    font-family: 'Space Grotesk', sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    color:#2549D3;
    font-size: 300%;
}
h2 {
    color: #2549D3;
    font-family: oleo, script;
}
h3 {
    color: #2549D3;
}
h4 {
    font-weight: 600;
    font-size: large;
}
h5 {
    font-weight: 300;
    font-size: x-small;
}
.clients-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Clients {
    border-radius: 1%;
    color: #000;
    margin: 1% 1% 1% 1%;
    box-shadow: 2% 2% 2% 2% gray;
    background-color:white;
    float: left;
    width: 33.33%;
}
.Clients p{
    font-size: small;
    font-weight: 100;
}
#bb {
    margin-left: 80%;
}
.Footer-Bottom {
    background-color: #0F298B;
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-content: space-evenly;
    float: left;
    width: 25%;
    margin-left: 8%;
}
 .three {
 }
 #vallies {
    font-family: 'Oleo Script', cursive;
    font-size: larger;
 }
 .bottom {
    font-family: 'Space Grotesk', sans-serif;
    font-size: medium;
 }
 .Footer-Bottom li{
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
 }


 @media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .section{
        margin-left: 2%;
        margin-right: 2%;
    }

    #navbar {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    #navbar a{
        width: auto;
    }
    /* button {
        width: 15%;
        height: auto;
    } */

    .sec1 {
        margin-bottom: 1%;
        width: 95%;
    }
    .sec1 img {
        margin-top: 15%;
    }
    .first {
        width: 50%;
        overflow: hidden;
    }

    #form {
        margin-top: 8%;
        width: 100%;
        align-items: center;
        overflow: hidden;
    }
    .search{
        margin-top:4%;
        width: 70%;
        /* box-shadow:3px 4px 6px 4px gray; */
        box-shadow: -1px 1px 44px -14px rgba(0,0,0,0.75);
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        width: 80%;
        align-items: center;
        justify-items: space-between;
    }
    .label{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    form button{
        margin-top: 8%;
    }
    .bottom{
        width: auto;
        overflow: hidden;
    }

    #why {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: space-between;
    }
    #why img{
        margin-top: 6%;
        margin-right: 5%;
    }
    #why .three{
        margin-right:1%;
    }

    #products {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        width: 100%;
        align-items: center;
    }
    .two {
        width: 70%;
        margin-right: 2%;
        margin-left: 2%;
        overflow: hidden;
    }
    #clients{
        display: grid;
        align-items: center;
    }
    #bb{
        margin-left: 35%;
        background-color: #0F298B;
        width: 40%;
        border: none;
    }
    .Footer-Bottom {
    margin-right: 2%;
    margin-left: 2%;
      display: flex;
      flex-direction: column;
      margin-top: 1%;
      width: 100%;
    }
    .contact-image{
        width: 97%;
    }
  }